.ipnrm-1 {
}
.ipnrm-1 [data-marker-id="5b2aa30d"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="5b2aa30d"] .ipnrm-lbl {
font-size:42px;
line-height:42px;
color:#ffffff;
}
.ipnrm-1 [data-marker-id="4be47b95"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="4be47b95"] .ipnrm-lbl {
font-size:42px;
line-height:42px;
color:#ffffff;
}
.ipnrm-1 [data-marker-id="1babe7b9"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="1babe7b9"] .ipnrm-lbl {
}
.ipnrm-1 [data-marker-id="c5230884"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="c5230884"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="e32a361a"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="e32a361a"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="f2252c00"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="f2252c00"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="fbad34d0"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="fbad34d0"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="039d456a"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="039d456a"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="2dc5b134"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="2dc5b134"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="e1165c21"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="e1165c21"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="d968bdc1"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="d968bdc1"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="54c8c16c"] .ipnrm-tag {
background-color:#8ce3ed;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="54c8c16c"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="2a3a32bc"] .ipnrm-tag {
background-color:#edd08c;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="2a3a32bc"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="2bda4e79"] .ipnrm-tag {
background-color:#edd08c;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="2bda4e79"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="84559256"] .ipnrm-tag {
background-color:#a3a3a3;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="84559256"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="a1238040"] .ipnrm-tag {
background-color:#a3a3a3;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="a1238040"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="4138ee21"] .ipnrm-tag {
background-color:#75c986;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="4138ee21"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="a25c8ee2"] .ipnrm-tag {
background-color:#c2c225;
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
border-top-left-radius:25px;
border-top-right-radius:25px;
border-bottom-right-radius:25px;
border-bottom-left-radius:25px;
}
.ipnrm-1 [data-marker-id="a25c8ee2"] .ipnrm-lbl {
margin-top:20px;
margin-right:20px;
margin-bottom:20px;
margin-left:20px;
}
.ipnrm-1 [data-marker-id="86418277"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="86418277"] .ipnrm-lbl {
font-size:14px;
line-height:14px;
color:rgba(255,255,255,0);
}
.ipnrm-1 [data-marker-id="3ff2f7a3"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="3ff2f7a3"] .ipnrm-lbl {
font-size:14px;
line-height:14px;
color:rgba(255,255,255,0);
}
.ipnrm-1 [data-marker-id="4eb882cf"] .ipnrm-tag {
background-image:url(/wp-content/uploads/2021/06/whatsapp.png);
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="4eb882cf"] .ipnrm-lbl {
font-size:50px;
line-height:50px;
color:rgba(255,255,255,0);
}
.ipnrm-1 [data-marker-id="fca6ddc6"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="fca6ddc6"] .ipnrm-lbl {
font-size:50px;
line-height:50px;
color:#ffffff;
}
.ipnrm-1 [data-marker-id="e94ff2e3"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="e94ff2e3"] .ipnrm-lbl {
font-size:50px;
line-height:50px;
color:#ffffff;
}
.ipnrm-1 [data-marker-id="33572e47"] .ipnrm-tag {
background-size:contain;
background-repeat:no-repeat;
background-position:50% 50%;
}
.ipnrm-1 [data-marker-id="33572e47"] .ipnrm-lbl {
font-size:14px;
line-height:14px;
color:rgba(255,255,255,0);
}
